.row-form{margin-bottom: 15px !important;}

.box-show-homepage{border:1px solid #eee; border-radius:5px; padding-bottom:20px; margin-top:10px;}
.box-show-question{border:1px solid #eee; border-radius:5px; padding-bottom:20px; margin-top:10px; padding-top:20px;}